body{
    background-color: rgba(77, 79, 237, 0.3);
    margin:0 20%;
    font-family: monospace;
}

#title{
    text-align: center;
    text-shadow: 5px 5px 10px rgb(4, 16, 19);
    font-size:3em;
}

img{
    display: block;
    width: 50%;
    margin: 0 24%;
}

#img-caption{
    font-size: 13px;
}

div#tribute-info{
    background-color:rgba(225, 64, 64, 0.2);
    box-shadow: 20px 20px 15px grey;
    padding:5px 10px;
    margin-top:20px;
    font-size: 13px;
}
h1.title{
    color:rgb(21, 4, 4);
    text-align:center;
    text-shadow: 5px 5px 10px black;
}